body{
	font-family: 'Montserrat', "Noto Sans CJK TC DemiLight", "微軟正黑體", sans-serif;
	font-size: 16px;
}
#main-page{
	margin-top: 32px;
	margin-bottom: 32px;
}
.section-box{
	padding: 32px;

	padding-bottom: 32px;
	border: 2px solid #F7F7F7;
	/* #343A40 */
	border-radius: 5px;
}
.first-line td, .first-line th{
	border-top: 0;
	font-weight: bold;
	border-bottom: 1px solid #000;
}

.section-box .table tr{
	border-top: 0;
	border-bottom: 1px solid #000;
}
.breadcrumb{
	background-color: #FFF;
}